name: Code Analysis

on:
  workflow_call:
env:
  DOTNET_NOLOGO: true
defaults:
  run:
    shell: bash
jobs:
  code-analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5.0.1
        with:
          # Should match the version used in https://github.com/Particular/repo-integrity-action/blob/main/src/RepoIntegrityTests/RepoIntegrityTests.csproj
          dotnet-version: 8.0.x
      - name: Repo integrity tests
        uses: Particular/repo-integrity-action@main
        env:
          PRIVATE_REPO: ${{ github.event.repository.private }}
          AFFECTED_BRANCH: ${{ github.base_ref || github.ref_name }}
      - name: Report warnings
        if: ${{  always() }}
        run: |
          if [ -f code-analysis-warnings.md ]; then
            cat code-analysis-warnings.md >> $GITHUB_STEP_SUMMARY
          fi
      - name: Upload warnings
        if: ${{ always() }}
        uses: actions/upload-artifact@v5.0.0
        with:
          name: code-analysis-warnings
          path: code-analysis-warnings.md
          if-no-files-found: ignore
          retention-days: 30
